@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'JetBrains Mono', monospace;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #171717;
}

::-webkit-scrollbar-thumb {
  background: #242424;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1c1f23;
}